---
import Item from "../components/Item.astro";
import { fetchProducts } from "../util/api";

const products = await fetchProducts();
---

<h1>Store</h1>
<a href="/cart">Cart</a>

{
    products.map((product) => (
        <Item
			title={product.title}
			price={product.price}
			src={product.src}
			id={product.id}
			description={product.description}
		/>
    ))
}
